.navbar{
    background-image: linear-gradient(to right, #a517ba,#5f1782)!important;
}
#baner{
    background-image: linear-gradient(to right, #a517ba,#5f1782)!important;
    align-items: center;
    margin: auto;
    justify-content: center;
}
#baner a img{
    width: 50px;
    align-items: center;
    margin: auto;
    justify-content: center;

}
#baner a{
    text-decoration: none;
    color: white;
}
.img-wave1{
    width: 100%;
}

/* Service Section */
.title{
    text-align: center;
}
.title::after{
    content: "";
    display: block;
    background: #7B1798;
    height: 3px;
    width: 200px;
    margin: auto;
    transform: translateY(15px);
}

.services-button {
    background-image: linear-gradient(to right, #a517ba,#5f1782);
    color: white;
    border: none;
    width: 120px;
    height: 40px;
    margin: auto;
    border-radius: 20px;
    margin-top: 20px;
}
/* Testimonial-section Section Start  */
.Testimonial-section .man-img img{
    width: 80px;
    border-radius: 50%;
}
/* Cline-section Section Start  */
.cline-div-style{
    border-left: 3px solid #7B1798;
}
/* Social-section */
.Social-section a{
    margin: 5px;
    
}
.Social-section img{
    width: 50px;
    border-radius: 60px;
    
}